{% extends 'core/base.html' %}
{% load static %}

{% block add_to_head %}
<link rel="stylesheet" href="{% static 'users/css/user_forms.css' %}">
{% endblock add_to_head %}

{% block content %}
<div class="content">
    <div class="form-container">
        <div class="form">
            <div class="buttons">
                <a href="/register" class="register-button">Register</a>
                <a href="/login" class="login-button">Login</a>
            </div>
            <script src="{% static 'users/js/form_onload.js' %}" defer></script>
            {% block form %}{% endblock form %}
        </div>
    </div>
</div>
{% endblock content %}